
.board {
    width: 570px; 
    
    display: flex;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100%;
    height: 25px;
    margin: 5px 0px;

    color: white;
    background: rgb(0,161,198);
    text-align: center;
}

button:active {
    background: aquamarine;
}

.buttons {
    width: 570px;

    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 25px;
}

.tile {
    font-size: 25px;
}

.tile.input {
    text-align: center;
    width: 90%;
    height: 90%;

    color: dodgerblue;
    caret-color: black;
}

.tile.span {
    font-weight: bold; 
}

.tile-div {
    width: 60px;
    height: 60px;
    border: 1px solid gray;

    display: flex;
    justify-content: center;
    align-items: center; 
}

.tile-div.correct {
    background: rgb(40, 168, 40);
}

.tile-div.correct > input {
    color: white;
}

.tile-div.incorrect {
    background: red;
}

.tile-div.incorrect > input {
    color: white;
}

.tile-div:nth-child(3n) {
    border-right: 3px solid black;
}

.tile-div:nth-child(9n) {
    border-right: 2px solid gray;
}

.tile-div:nth-child(n+1):nth-child(-n+9) {
    border-top: 2px solid gray; 
}

.tile-div:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 2px solid gray;
}

.tile-div:nth-child(n+19):nth-child(-n+27), 
.tile-div:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 3px solid black;
}
